# ENVS = ["local" , "development" , "production"]
NODE_ENV = development

MONGO_DEV_URL = 
MONGO_LOCAL_URL = mongodb://127.0.0.1:27017/DB_NAME
MONGO_PROD_URL = 

# JWT
JWTSECRET=
JWT_EXPIRES_IN= 60

# NODEMAILER
EMAIL= 
PASS=


# UPLOAD CDN
UPLOADER_PLATFORM=local

# AWS S3 Bucket
AWS_BUCKET_NAME=aws-s3-bucket
AWS_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# STRIPE - KEYS :
STRIPE_PUBLIC_KEY_TEST=pk_test_51N8PIwJjgoM20tTscbTORO3Qf3dZcnWT9ehgXbL8mIThrd3tk3N8MttDjr5HVnmYHrpyZdlNxaCPMRSPxRZ1HHSB00l5geOYMA
STRIPE_PRIVATE_KEY_TEST=sk_test_51N8PIwJjgoM20tTseivPQkRcN4BztL5y8q6y2l48ERX2ZB4KTXaMNOsk7nVSTZ5D1DrExmLjOCtuin2qwOEvgfoo00a1h1A6iB

# GOOGLE - KEYS :
GOOGLE_ACCOUNT_CLIENT_ID=